@import url(../font.css);

.login-container__form--button {
    cursor: pointer;
    position: relative;
    margin-top: 1.1vw;
    padding: .8vw 2.5vw;
    color: rgb(0, 119, 255);
    background-color: transparent;
    border: .2vw solid rgb(0, 119, 255);
    border-radius: 3.4vw;
    font-size: 1.6vw;
    font-family: 'Iceberg';
    transition: all .3s cubic-bezier(.23, 1, .320, 1);
    overflow: hidden;
    user-select: none;
}

.login-container__form--button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 4vw;
    height: 4vw;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgba(0, 119, 255, .439);
    transition: all .6s cubic-bezier(.23, 1, .320, 1);
}

.login-container__form--button:hover::before {
    scale: 3;
}

.login-container__form--button:hover {
    color: rgb(255, 255, 255);
    scale: 1.1;
    box-shadow: 0 0 2vw rgba(0, 119, 255, .4);
}

.login-container__form--button:active {
    scale: 1;
}
