@import url(../font.css);

.section__circuits-button {
    cursor: pointer;
    position: relative;
    margin: clamp(2vmax, calc((60px - 3vmax) * 1.25), calc((60px - 3vmax) * 1.25)) 0;
    padding: clamp(.8vmax, calc((60px - 3vmax) * .5), calc((60px - 3vmax) * .5)) clamp(2.5vmax, calc((60px - 3vmax) * 1.563), calc((60px - 3vmax) * 1.563));
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: .2vw solid rgb(255, 255, 255);
    border-radius: clamp(3.4vmax, calc((60px - 3vmax) * 2.125), calc((60px - 3vmax) * 2.125));
    font-size: clamp(1.6vmax, calc(60px - 3vmax), calc(60px - 3vmax));
    font-family: 'Iceberg';
    transition: all .3s cubic-bezier(.23, 1, .320, 1);
    overflow: hidden;
    user-select: none;
}

.section__circuits-button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: clamp(4vmax, calc((60px - 3vmax) * 2.5), calc((60px - 3vmax) * 2.5));
    height: clamp(4vmax, calc((60px - 3vmax) * 2.5), calc((60px - 3vmax) * 2.5));
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, .439);
    transition: all .6s cubic-bezier(.23, 1, .320, 1);
}

.section__circuits-button:hover::before {
    scale: 3;
}

.section__circuits-button:hover {
    color: rgb(255, 255, 255);
    scale: 1.1;
    box-shadow: 0 0 2vw rgba(255, 255, 255, .4);
}

.section__circuits-button:active {
    scale: 1;
}