@import url(../font.css);

.section__team-cards {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.83vmax;
    justify-content: space-between;
    width: 58.3vw;
    cursor: pointer;
}

.section__team-cards--card {
    width: 10.73vw;
    height: calc(228px - 5vw);
    min-height: 11.104vw;
    position: relative;
    border-radius: 2vmax;
    overflow: hidden;
    color: #000;
    transform: translateZ(0);
}

.section__team-cards--card-img {
    width: 100%;
    height: 100%;
    border-radius: 2vmax;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
    transition: transform 0.2s;
    user-select: none;
}

.section__team-cards--card-footer {
    position: absolute;
    bottom: -0.1vmax;
    left: 0;
    padding: 0 1.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF30;
    backdrop-filter: blur(5px);
    height: 30%;
}

.section__team-cards--card-footer span {
    color: rgb(255, 255, 255);
    font-family: 'Iceberg';
    font-size: 1.15vmax;
    text-align: center;
}

.section__team-cards--card:is(:hover, :focus-visible) {
    --hover: 1;
}